In [1]:
import numpy as np
import pandas as pd

In [2]:
a = pd.read_csv('movie.csv')

In [3]:
b = pd.read_csv('rating.csv')

In [4]:
newdf = a.join(b.set_index('movieId'), on='movieId', how='left')

In [5]:
# cut down to only unique titles:
df = newdf.drop_duplicates(['title'])

In [6]:
def ret(mystr):
    char1 = '('
    char2 = ')'
    return(mystr[mystr.find(char1)+1 : mystr.find(char2)])

In [7]:
df['year'] = df['title'].apply(ret)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
# keep only movie titles:
import re
def removeInt(title):
    return(re.sub('[^a-zA-Z]+', '', title));

In [9]:
df['title'] = df['title'].apply(removeInt)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
# put spaces between capital letters:
def remSpaces(title):
    return(re.sub(r"(\w)([A-Z])", r"\1 \2", title))

In [11]:
df['title'] = df['title'].apply(remSpaces)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
df.head()

,movieId,title,genres,userId,rating,timestamp,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1999-12-11 13:36:47,1995
1,2,Jumanji,Adventure|Children|Fantasy,1.0,3.5,2005-04-02 23:53:47,1995
2,3,Grumpier Old Men,Comedy|Romance,2.0,4.0,2000-11-21 15:34:49,1995
3,4,Waitingto Exhale,Comedy|Drama|Romance,41.0,2.0,2000-02-27 23:29:58,1995
4,5,Fatherofthe Bride Part II,Comedy,12.0,2.0,1997-03-22 20:49:34,1995

In [13]:
# separate genres

import itertools as it
genres = set(list(it.chain.from_iterable([g.split(', ') for g in df.genres if g])))

In [14]:
variable_labels = {
    'rating': 'rating',
    'reviews_from_users': 'reviews_from_users',
    'worldwide_gross_income': 'worldwide_gross_income',
    'year_x': 'year_x',
    'duration': 'duration'
}

In [15]:
# change year to datetime object:
df['year'] = pd.to_datetime(df['year'], format='%Y', errors='coerce')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
def to_integer(dt_time):
    return (1*dt_time.year)

In [17]:
r = pd.read_csv('IMDb movies.csv')

In [18]:
# left join both data frames
df = df.merge(r, on='title', how='left')

In [19]:
df['year_x'] = df['year_x'].apply(to_integer)

In [20]:
# imports:
from jupyter_dash import JupyterDash
import dash
from dash.dependencies import Input, Output, State
import dash_core_components as dcc
import dash_html_components as html
from dash import no_update

In [21]:
df.head()

,movieId,title,genres,userId,rating,timestamp,year_x,imdb_title_id,original_title,year_y,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1999-12-11 13:36:47,1995.0,tt0114709,Toy Story,1995.0,...,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",A cowboy doll is profoundly threatened and jea...,8.3,822929.0,$ 30000000,$ 222498679,$ 406594102,95.0,538.0,193.0
1,2,Jumanji,Adventure|Children|Fantasy,1.0,3.5,2005-04-02 23:53:47,1995.0,tt0113497,Jumanji,1995.0,...,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",When two kids find and play a magical board ga...,7.0,278445.0,$ 65000000,$ 100499940,$ 262821940,39.0,220.0,101.0
2,3,Grumpier Old Men,Comedy|Romance,2.0,4.0,2000-11-21 15:34:49,1995.0,tt0113228,Grumpier Old Men,1995.0,...,"Walter Matthau, Jack Lemmon, Sophia Loren, Ann...",John and Max resolve to save their beloved bai...,6.7,22794.0,$ 25000000,$ 71518503,$ 71518503,46.0,61.0,26.0
3,4,Waitingto Exhale,Comedy|Drama|Romance,41.0,2.0,2000-02-27 23:29:58,1995.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Fatherofthe Bride Part II,Comedy,12.0,2.0,1997-03-22 20:49:34,1995.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# categories to keep:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30527 entries, 0 to 30526
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movieId                30527 non-null  int64
 1   title                  30527 non-null  object
 2   genres                 30527 non-null  object
 3   userId                 29923 non-null  float64
 4   rating                 29923 non-null  float64
 5   timestamp              29923 non-null  object
 6   year_x                 25304 non-null  float64
 7   imdb_title_id          11698 non-null  object
 8   original_title         11698 non-null  object
 9   year_y                 11698 non-null  float64
 10  date_published         11698 non-null  object
 11  genre                  11698 non-null  object
 12  duration               11698 non-null  float64
 13  country                11698 non-null  object
 14  language               11614 non-null  object
 15  director               11697 non-null  object
 16  writer                 11637 non-null  object
 17  production_company     11500 non-null  object
 18  actors                 11698 non-null  object
 19  description            11645 non-null  object
 20  avg_vote               11698 non-null  float64
 21  votes                  11698 non-null  float64
 22  budget                 5728 non-null   object
 23  usa_gross_income       5481 non-null   object
 24  worlwide_gross_income  6467 non-null   object
 25  metascore              4594 non-null   float64
 26  reviews_from_users     11542 non-null  float64
 27  reviews_from_critics   11363 non-null  float64
dtypes: float64(10), int64(1), object(17)
memory usage: 6.8+ MB

Columns to keep:
title, genres, rating, year_x, director, actors, worldwide_gross_income, reviews_from_users

Drop the rest. Rename some of these. Columns to add: Bechdel Scores

In [23]:
dfLatest = df[['title','genres','rating','year_x','director','actors','worlwide_gross_income','reviews_from_users']]

In [24]:
# drop genres:
dfLatest = dfLatest.drop('genres',axis=1)

In [25]:
# change worldwide gross income column to numeric:
dfLatest.worlwide_gross_income = dfLatest.worlwide_gross_income.str.replace('INR' , '')

In [26]:
# change worldwide gross income column to numeric:
dfLatest.worlwide_gross_income = dfLatest.worlwide_gross_income.str.replace('$' , '')

In [27]:
dfLatest.worlwide_gross_income = pd.to_numeric(dfLatest['worlwide_gross_income'])

In [28]:
dfLatest.head()

,title,rating,year_x,director,actors,worlwide_gross_income,reviews_from_users
0,Toy Story,4.0,1995.0,John Lasseter,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",406594102.0,538.0
1,Jumanji,3.5,1995.0,Joe Johnston,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",262821940.0,220.0
2,Grumpier Old Men,4.0,1995.0,Howard Deutch,"Walter Matthau, Jack Lemmon, Sophia Loren, Ann...",71518503.0,61.0
3,Waitingto Exhale,2.0,1995.0,NaN,NaN,NaN,NaN
4,Fatherofthe Bride Part II,2.0,1995.0,NaN,NaN,NaN,NaN

In [29]:
dfLatest['duration'] = df['duration']

In [30]:
# rename columns: year_x, worlwide_gross_income, reviews_from_users:

In [31]:
dfLatest.columns=['title','rating','year','director','cast','revenue','reviews','duration']

In [32]:
dfLatest.head()

,title,rating,year,director,cast,revenue,reviews,duration
0,Toy Story,4.0,1995.0,John Lasseter,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",406594102.0,538.0,81.0
1,Jumanji,3.5,1995.0,Joe Johnston,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",262821940.0,220.0,104.0
2,Grumpier Old Men,4.0,1995.0,Howard Deutch,"Walter Matthau, Jack Lemmon, Sophia Loren, Ann...",71518503.0,61.0,101.0
3,Waitingto Exhale,2.0,1995.0,NaN,NaN,NaN,NaN,NaN
4,Fatherofthe Bride Part II,2.0,1995.0,NaN,NaN,NaN,NaN,NaN

In [33]:
# add bechdel scores to dataframe:
import urllib, json
import pandas as pd
bechdel = pd.read_json('http://bechdeltest.com/api/v1/getAllMovies')

In [34]:
bechdel.head()

    imdbid  year  rating                                   title    id
0  0392728  1888       0                   Roundhay Garden Scene  8040
1  0000003  1892       0                          Pauvre Pierrot  5433
2  0132134  1895       0  Execution of Mary, Queen of Scots, The  6200
3  0000014  1895       0           Tables Turned on the Gardener  5444
4  0000131  1896       0                       Une nuit terrible  5406

In [35]:
# join on title (left)
dfLatest = dfLatest.merge(bechdel, on='title', how='left')

In [36]:
# rename rating_y to bechdel score
# remove: id,year_y, imdbid

In [37]:
dfLatest = dfLatest.drop(['id','year_y','imdbid'],axis=1)

In [38]:
dfLatest.head()

,title,rating_x,year_x,director,cast,revenue,reviews,duration,rating_y
0,Toy Story,4.0,1995.0,John Lasseter,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",406594102.0,538.0,81.0,1.0
1,Jumanji,3.5,1995.0,Joe Johnston,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",262821940.0,220.0,104.0,3.0
2,Grumpier Old Men,4.0,1995.0,Howard Deutch,"Walter Matthau, Jack Lemmon, Sophia Loren, Ann...",71518503.0,61.0,101.0,NaN
3,Waitingto Exhale,2.0,1995.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Fatherofthe Bride Part II,2.0,1995.0,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
dfLatest.columns=['title','rating','year','director','cast','revenue','reviews','duration','bechdel']

In [40]:
dfLatest['genres'] = df['genres']

In [41]:
dfLatest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31367 entries, 0 to 31366
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     31367 non-null  object
 1   rating    30748 non-null  float64
 2   year      26144 non-null  float64
 3   director  12535 non-null  object
 4   cast      12536 non-null  object
 5   revenue   6941 non-null   float64
 6   reviews   12375 non-null  float64
 7   duration  12536 non-null  float64
 8   bechdel   5290 non-null   float64
 9   genres    30527 non-null  object
dtypes: float64(6), object(4)
memory usage: 2.6+ MB

In [42]:
# change bechdel score to categorical:
dfLatest['bechdel'] = dfLatest.bechdel.astype('category').cat.as_ordered()

In [43]:
dfLatest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31367 entries, 0 to 31366
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     31367 non-null  object
 1   rating    30748 non-null  float64
 2   year      26144 non-null  float64
 3   director  12535 non-null  object
 4   cast      12536 non-null  object
 5   revenue   6941 non-null   float64
 6   reviews   12375 non-null  float64
 7   duration  12536 non-null  float64
 8   bechdel   5290 non-null   category
 9   genres    30527 non-null  object
dtypes: category(1), float64(5), object(4)
memory usage: 2.4+ MB

In [44]:
# variables to be used: dfLatest, genres, variable labels:

In [45]:
dfLatest['bechdel']

0        1.0
1        3.0
2        NaN
3        NaN
4        NaN
        ...
31362    3.0
31363    3.0
31364    3.0
31365    3.0
31366    3.0
Name: bechdel, Length: 31367, dtype: category
Categories (4, float64): [0.0 < 1.0 < 2.0 < 3.0]

In [46]:
variable_labels = {
    'rating': 'rating',
    'year': 'year',
    'reviews': 'reviews',
    'revenue': 'revenue',
    'duration': 'duration'
}

In [47]:
# Set app layout
import plotly.graph_objs as go
app = JupyterDash()
app.layout = html.Div([
    html.H1('Welcome to Our Movie Dashboard!'),
    html.Div([
        html.Label('Number of Reviews'),
        dcc.Slider(
            id='nb-reviews-slider',
            min=dfLatest.reviews.min(),
            max=dfLatest.reviews.max(),
            marks={str(rvw): str(rvw) for rvw in range(int(dfLatest.reviews.min()), len(dfLatest.reviews.unique()), 100)},
            value=dfLatest.reviews.min(),
            step=None
        ),
        html.Br(),
        html.Label('Year'),
        dcc.RangeSlider(
            id='year-released-range-slider',
            min=dfLatest.year.min(),
            max=dfLatest.year.max(),
            marks={str(y): str(y) for y in range(int(dfLatest.year.min()), int(dfLatest.year.max()), 5)},
            value=[dfLatest.year.min(), dfLatest.year.max()]
        ),
        html.Br(),
        html.Label('Bechdel Score Category (0-3)'),
        dcc.Slider(
            id='oscars-won-slider',
            min=dfLatest.bechdel.min(),
            max=dfLatest.bechdel.max(),
            marks={str(o): str(o) for o in range(int(dfLatest.bechdel.min()), int(dfLatest.bechdel.max()), 1)},
            value=dfLatest.bechdel.min(),
            step=None
        ),
        html.Br(),
        html.Label('Revenue in Millions'),
        dcc.RangeSlider(
            id='dollars-boxoffice-range-slider',
            min=0,
            max=800,
            marks={str(y): str(y) for y in range(0, 800, 20)},
            value=[0, 800],
        ),
        html.Br(),
        html.Label('Genre)'),
        dcc.Dropdown(
            id='genre-dropdown',
            options=[
                {'label': genre.upper(), 'value': genre} for genre in genres
            ],
            multi=False
        ),
        html.Br(),
    ], style={'marginLeft': 25, 'marginRight': 25}
    ),
    html.Div([
        html.Br(),
        html.Label('X-axis variable'),
        dcc.Dropdown(
            id='x-axis-dropdown',
            options=[
                {'label': label, 'value': value} for value, label in variable_labels.items()
            ],
            multi=False,
            value='duration'
        ),
        html.Br(),
        html.Label('Y-axis variable'),
        dcc.Dropdown(
            id='y-axis-dropdown',
            options=[
                {'label': label, 'value': value} for value, label in variable_labels.items()
            ],
            multi=False,
            value='reviews'
        ),
        html.Br()
    ], style={'marginLeft': 25, 'marginRight': 25}),
    html.Div([
        html.Label('Graph'),
        dcc.Graph(
            id='scatter-plot-graphhh',
            animate=True,
            figure={
                'data': [
                    go.Scatter(
                        x=dfLatest[dfLatest.bechdel == 0.0].duration,
                        y=dfLatest[dfLatest.bechdel == 0.0].reviews,
                        text=dfLatest[dfLatest.bechdel == 0.0].title,
                        mode='markers',
                        opacity=0.5,
                        marker={
                            'color': 'orange',
                            'size': 10,
                            'line': {'width': 1, 'color': 'black'}
                        },
                        name='Bechdel Score: 0'
                    ),
                    go.Scatter(
                        x=dfLatest[dfLatest.bechdel == 1.0].duration,
                        y=dfLatest[dfLatest.bechdel == 1.0].reviews,
                        text=dfLatest[dfLatest.bechdel == 1.0].title,
                        mode='markers',
                        opacity=0.5,
                        marker={
                            'color': 'gray',
                            'size': 10,
                            'line': {'width': 1, 'color': 'black'}
                        },
                        name='Bechdel Score: 1'
                    ),
                    go.Scatter(
                        x=dfLatest[dfLatest.bechdel == 2.0].duration,
                        y=dfLatest[dfLatest.bechdel == 2.0].reviews,
                        text=dfLatest[dfLatest.bechdel == 2.0].title,
                        mode='markers',
                        opacity=0.5,
                        marker={
                            'color': 'blue',
                            'size': 10,
                            'line': {'width': 1, 'color': 'black'}
                        },
                        name='Bechdel Score: 2'
                    ),
                    go.Scatter(
                        x=dfLatest[dfLatest.bechdel == 3.0].duration,
                        y=dfLatest[dfLatest.bechdel == 3.0].reviews,
                        text=dfLatest[dfLatest.bechdel == 3.0].title,
                        mode='markers',
                        opacity=0.5,
                        marker={
                            'color': 'pink',
                            'size': 10,
                            'line': {'width': 1, 'color': 'black'}
                        },
                        name='Bechdel Score: 3'
                    )
                    
                ],
                'layout': go.Layout(
                    margin={'l': 40, 'b': 40, 't': 10, 'r': 10},
                    xaxis={'title': ''},
                    yaxis={'title': ''},
                    hovermode='closest'
                )
            }
        ),
        html.Br(),
        html.P('')
    ], style={'marginLeft': 25, 'marginRight': 25})
])

In [51]:
app.css.append_css({'external_url': 'https://codepen.io/chriddyp/pen/bWLwgP.css'})


if __name__ == '__main__':
    app.run_server(debug=True,port=8057)

Dash app running on http://127.0.0.1:8057/

C:\ProgramData\Anaconda3\lib\site-packages\dash\resources.py:68: UserWarning: You have set your config to `serve_locally=True` but A local version of https://codepen.io/chriddyp/pen/bWLwgP.css is not available.
If you added this file with `app.scripts.append_script` or `app.css.append_css`, use `external_scripts` or `external_stylesheets` instead.
See https://dash.plot.com/external-resources
  ).format(s["external_url"])

In [49]:
# update callbacks:
@app.callback(
    dash.dependencies.Output('scatter-plot-graphhh', 'figure'),
    [
        dash.dependencies.Input('nb-reviews-slider', 'value'),
        dash.dependencies.Input('year-released-range-slider', 'value'),
        dash.dependencies.Input('oscars-won-slider', 'value'),
        dash.dependencies.Input('dollars-boxoffice-range-slider', 'value'),
        dash.dependencies.Input('genre-dropdown', 'value'),
        dash.dependencies.Input('x-axis-dropdown', 'value'),
        dash.dependencies.Input('y-axis-dropdown', 'value')
    ]
)
def update_scatter_plot(selected_nb_reviews, selected_years_released, selected_nb_oscars_won,
                        selected_dollars_boxoffice, selected_genre, 
                        x_axis_var, y_axis_var):

    nb_reviews = selected_nb_reviews or df.reviews.min()
    year_released_start, year_released_end = selected_years_released or (dfLatest.year.min(), dfLatest.year.max())
    oscars_won = selected_nb_oscars_won or dfLatest.bechdel.min()
    dollars_boxoffice_min, dollars_boxoffice_max = (amount * 1e6 for amount in selected_dollars_boxoffice) or \
        (dfLatest.revenue.min(), dfLatest.revenue.max())
    movie_genre = selected_genre or None
    x_axis = x_axis_var
    y_axis = y_axis_var

    filtered_df = (
        dfLatest.pipe(lambda dfLatest: dfLatest[dfLatest['reviews'] >= nb_reviews])
        .pipe(lambda dfLatest: dfLatest[(dfLatest['year'] >= year_released_start) & (dfLatest['year'] <= year_released_end)])
        .pipe(lambda dfLatest: dfLatest[dfLatest['bechdel'] >= oscars_won])
        .pipe(lambda dfLatest: dfLatest[(dfLatest['revenue'] >= dollars_boxoffice_min) & (dfLatest['revenue'] <= dollars_boxoffice_max)])
        .pipe(lambda dfLatest: dfLatest[dfLatest['genres'].str.contains(movie_genre)] if movie_genre else dfLatest)
    )

    return {
        'data': [
            go.Scatter(
                x=filtered_df[filtered_df.bechdel == 0.0][x_axis],
                y=filtered_df[filtered_df.bechdel == 0.0][y_axis],
                text=filtered_df[filtered_df.bechdel == 0.0]['title'],
                mode='markers',
                opacity=0.5,
                marker={
                    'color': 'orange',
                    'size': 10,
                    'line': {'width': 1, 'color': 'black'}
                },
                name='Bechdel Score: 0'
            ),
            go.Scatter(
                x=filtered_df[filtered_df.bechdel == 1.0][x_axis],
                y=filtered_df[filtered_df.bechdel == 1.0][y_axis],
                text=filtered_df[filtered_df.bechdel == 1.0]['title'],
                mode='markers',
                opacity=0.5,
                marker={
                    'color': 'gray',
                    'size': 10,
                    'line': {'width': 1, 'color': 'black'}
                },
                name='Bechdel Score: 1'
            ),
            go.Scatter(
                x=filtered_df[filtered_df.bechdel == 2.0][x_axis],
                y=filtered_df[filtered_df.bechdel == 2.0][y_axis],
                text=filtered_df[filtered_df.bechdel == 2.0]['title'],
                mode='markers',
                opacity=0.5,
                marker={
                    'color': 'blue',
                    'size': 10,
                    'line': {'width': 1, 'color': 'black'}
                },
                name='Bechdel Score: 2'
            ),
            go.Scatter(
                x=filtered_df[filtered_df.bechdel == 3.0][x_axis],
                y=filtered_df[filtered_df.bechdel == 3.0][y_axis],
                text=filtered_df[filtered_df.bechdel == 3.0]['title'],
                mode='markers',
                opacity=0.5,
                marker={
                    'color': 'pink',
                    'size': 10,
                    'line': {'width': 1, 'color': 'black'}
                },
                name='Bechdel Score: 3'
            )
        ],
        'layout': go.Layout(
            margin={'l': 40, 'b': 40, 't': 10, 'r': 10},
            xaxis={
                'title': variable_labels[x_axis],
                'range': [
                    filtered_df[x_axis].min(),
                    filtered_df[x_axis].max()
                ]
            },
            yaxis={
                'title': variable_labels[y_axis],
                'range': [
                    filtered_df[y_axis].min(),
                    filtered_df[y_axis].max()
                ]},
            hovermode='closest'
        )
    }

In [50]:
genres = set(list(it.chain.from_iterable([g.split('|') for g in df.genres if g])))

In [ ]:
dfLatest['genres'] = dfLatest['genres'].fillna(False, inplace=True)

In [ ]:
dfLatest['reviews'].max()

In [52]:
genres

{'(no genres listed)',
 'Action',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'IMAX',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western'}

In [58]:
min(dfLatest.revenue)*1e6

50000000.0

In [55]:
dfLatest.to_csv('latestdf.csv', index=True)

In [60]:
dfLatest['title'].dtype

dtype('O')

In [61]:
dfLatest.head()

,title,rating,year,director,cast,revenue,reviews,duration,bechdel,genres
0,Toy Story,4.0,1995.0,John Lasseter,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",406594102.0,538.0,81.0,1.0,Adventure|Animation|Children|Comedy|Fantasy
1,Jumanji,3.5,1995.0,Joe Johnston,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",262821940.0,220.0,104.0,3.0,Adventure|Children|Fantasy
2,Grumpier Old Men,4.0,1995.0,Howard Deutch,"Walter Matthau, Jack Lemmon, Sophia Loren, Ann...",71518503.0,61.0,101.0,NaN,Comedy|Romance
3,Waitingto Exhale,2.0,1995.0,NaN,NaN,NaN,NaN,NaN,NaN,Comedy|Drama|Romance
4,Fatherofthe Bride Part II,2.0,1995.0,NaN,NaN,NaN,NaN,NaN,NaN,Comedy

In [62]:
dfLatest['year']

0        1995.0
1        1995.0
2        1995.0
3        1995.0
4        1995.0
          ...
31362    2014.0
31363    2014.0
31364    2014.0
31365    2014.0
31366    2014.0
Name: year, Length: 31367, dtype: float64

In [65]:
max(dfLatest['revenue'])

2789968301.0

In [66]:
dfLatest['genres'].unique() # choose the first

array(['Adventure|Animation|Children|Comedy|Fantasy',
       'Adventure|Children|Fantasy', 'Comedy|Romance', ...,
       'Animation|Children|Comedy|Fantasy|Sci-Fi',
       'Animation|Children|Comedy|Western', nan], dtype=object)

In [77]:
def split(genre):
    return(genre.rsplit('|')[0])

In [79]:
dfLatest['genres'] = dfLatest['genres'].apply(split)

In [69]:
dfLatest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31367 entries, 0 to 31366
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     31367 non-null  object
 1   rating    30748 non-null  float64
 2   year      26144 non-null  float64
 3   director  12535 non-null  object
 4   cast      12536 non-null  object
 5   revenue   6941 non-null   float64
 6   reviews   12375 non-null  float64
 7   duration  12536 non-null  float64
 8   bechdel   5290 non-null   category
 9   genres    30527 non-null  object
dtypes: category(1), float64(5), object(4)
memory usage: 2.4+ MB

In [72]:
dfLatest['genres']=dfLatest['genres'].fillna("")

In [81]:
dfLatest['genres'].unique()

array(['Adventure', 'Comedy', 'Action', 'Drama', 'Crime', 'Children',
       'Mystery', 'Documentary', 'Animation', 'Thriller', 'Horror',
       'Fantasy', 'Western', 'Film-Noir', 'Romance', 'War', 'Sci-Fi',
       'Musical', 'IMAX', '(no genres listed)', ''], dtype=object)

In [82]:
dfLatest.info() # change to csv and redo dashboard

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31367 entries, 0 to 31366
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     31367 non-null  object
 1   rating    30748 non-null  float64
 2   year      26144 non-null  float64
 3   director  12535 non-null  object
 4   cast      12536 non-null  object
 5   revenue   6941 non-null   float64
 6   reviews   12375 non-null  float64
 7   duration  12536 non-null  float64
 8   bechdel   5290 non-null   category
 9   genres    31367 non-null  object
dtypes: category(1), float64(5), object(4)
memory usage: 2.4+ MB

In [83]:
dfLatest.to_csv('lat.csv', index=True)